<div class="about-page">
  <div class="title">
    <h2>About Me</h2>
    <hr class="line" />
  </div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad pariatur non
      inventore quod, sed id eos dolor asperiores velit perspiciatis!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      laboriosam commodi cum quae ad. Ullam vero quidem inventore eveniet beatae
      molestiae laboriosam iure, est exercitationem neque officia a, corporis
      magni quis ex sit deserunt cupiditate doloribus fugit numquam excepturi
      odit velit. Odio pariatur at excepturi nostrum. Minima officia culpa
      aliquam?
    </p>
  </div>
  <div class="tasks">
    <h4>What I'm Doing</h4>
    <div class="task-box">
      <div class="task1">
        <div class="icon"></div>
        <div class="contents">
          <b>Web Design</b>
          <p>
            The most modern and high quality design made at a professional level
          </p>
        </div>
      </div>
      <div class="task2">
        <div class="icon"></div>
        <div class="contents">
          <b>Web Development</b>
          <p>High quality development of sites made at a professional level</p>
        </div>
      </div>
      <div class="task3">
        <div class="icon"></div>
        <div class="contents">
          <b>Mobile Apps</b>
          <p>Professional development of application for iOS and Android.</p>
        </div>
      </div>
      <div class="task4">
        <div class="icon"></div>
        <div class="contents">
          <b>Photography</b>
          <p>
            I make a high-quality photo of any category at a professional level
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
