*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-page {
  padding: 25px;
}
.about-page > .title {
  padding-top: 10px;
}
.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: #d6bd62;
  border: none;
  border-radius: 2px;
}
.about-page > .content {
  display: grid;
  padding-top: 15px;
  gap: 10px;
  text-align: justify;
}

.about-page > .tasks > h4 {
  padding-top: 20px;
}
.task-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 15px;
}
.tasks h4 {
  font-size: 19px;
}
.task1,
.task2,
.task3,
.task4 {
  height: 7.5rem;
  width: 24rem;
  border-radius: 5px;
  background-color: #222224;
  padding: 25px;
  display: flex;
  gap: 10px;
}
.task1,
.task2,
.task3,
.task4,
.contents > b {
  font-size: 15px;
}
.task1,
.task2,
.task3,
.task4,
.contents > p {
  margin-top: 5px;
}

.icon img {
  height: 40px;
  width: 40px;
}
.icon svg {
  fill: #d6bd62;
  border-color: #d6bd62;
  color: #d6bd62;
}
.icon .fa {
  fill: #d6bd62;
  border-color: #d6bd62;
  color: #d6bd62;
}

.testimonials h4 {
  padding-top: 20px;
  font-size: 19px;
}
