*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-page {
  padding: 30px;
}
.about-page > .title {
  padding-top: 5px;
}

.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: hsl(41, 96%, 70%);
  border: none;
  border-radius: 2px;
}
.about-page > .content {
  display: grid;
  padding-top: 15px;
  gap: 10px;
  text-align: justify;
}
.content p {
  opacity: 0.8;
  font-weight: var(--fw-300);
}

.about-page > .tasks > h3 {
  padding-top: 20px;
}
.task-box {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 15px;
}
.tasks h3 {
  font-size: 19px;
}
.task1,
.task2,
.task3,
.task4 {
  height: 9rem;
  width: 25.8rem;
  border-radius: 20px;
  background-color: #222224;
  padding: 20px;
  display: flex;
  gap: 15px;
  z-index: 20;
}
.task1,
.task2,
.task3,
.task4,
.contents > b {
  font-size: var(--fs-3);
}
.task1,
.task2,
.task3,
.task4,
.contents > p {
  margin-top: 5px;
  font-size: var(--fs-6);
  color: var(--light-gray);
}

.icon img {
  height: 40px;
  width: 40px;
}
.icon svg {
  fill: #d6bd62;
  border-color: #d6bd62;
  color: #d6bd62;
}
.icon .fa {
  fill: #d6bd62;
  border-color: #d6bd62;
  color: #d6bd62;
}

.testimonials h4 {
  padding-top: 20px;
  font-size: 19px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .task1,
  .task2,
  .task3,
  .task4 {
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: #222224;
    padding: 30px;
    display: flex;
    gap: 15px;
    z-index: 20;
  }
  .task1,
  .task2,
  .task3,
  .task4,
  .contents > b {
    font-size: var(--fs-3);
  }
  .task1,
  .task2,
  .task3,
  .task4,
  .contents > p {
    margin-top: 5px;
    font-size: var(--fs-6);
    color: var(--light-gray);
  }
}
