<div class="resume-page">
  <div class="title">
    <h2>Resume</h2>
    <hr class="line" />
  </div>
  <div class="education">
    <img [src]="bookpath" [alt]="bookalt" />
    <h4>Education</h4>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Itahari International College</p>
          <p class="progress__info">2021-2023</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Sukuna Secondary School</p>
          <p class="progress__info">2019-2021</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Kaseni Model English School</p>
          <p class="progress__info">2019</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
