<div class="resume-page">
  <div class="title">
    <h2>Resume</h2>
    <hr class="line" />
  </div>
  <div class="education">
    <div class="book-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h4>Education</h4>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Itahari International College</p>
          <p class="progress__info">2021-2023</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Sukuna Secondary School</p>
          <p class="progress__info">2019-2021</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Kaseni Model English School</p>
          <p class="progress__info">2019</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="exprience">
    <div class="exprience-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h4>Experience</h4>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Web Developer</p>
          <p class="progress__info">2024 -- present</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Internship at Lancemeup Pvt. Ltd</p>
          <p class="progress__info">July 10 - Nov 01</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">
            Internship at Itahari International College
          </p>
          <p class="progress__info">June 15 - Oct 20</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis accusantium aspernatur minima officia repellat
            laboriosam, vel atque aliquid placeat nobis.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="skill-set">
    <h3>My Skills</h3>
    <div class="skill-status">
      <div class="html">
        <p>HTML</p>
      </div>
      <div class="css"></div>
      <div class="reactjs"></div>
      <div class="angular"></div>
      <div class="nestjs"></div>
      <div class="postgres"></div>
    </div>
  </div>
</div>
