.hero-section > .title {
  font-size: var(--fs-1);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.skills-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  margin-top: 40px;
  place-items: center;
  justify-content: center;
}

.skills-showcase > .skills {
  width: 100%;
  text-align: center;
}

svg {
  transform: rotate(-90deg);
}

circle.bg {
  fill: none;
  stroke: #333;
  stroke-width: 10;
}

circle.fg {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
  transform: rotate(-90deg);
  transform-origin: center;
}
.skill-name {
  font-size: var(--fs-3);
  text-transform: uppercase !important;
  text-align: center !important;
  font-weight: var(--fw-300);
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem !important;
  line-height: 1.2;
}

.percent-text {
  fill: #ffffff;
  font-size: var(--fs-1);
  transform: rotate(90deg);
  transform-origin: center;
  font-weight: var(--fw-500);
}
