.hero-section > P {
  font-size: var(--fs-1);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.skills-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 40px;
  place-items: center;
}

.skills-showcase > .skills {
  display: grid;
  gap: 10px;
  width: fit-content;
  text-align: center;
}
.skills-showcase > .skills > .skill {
  /* height: 130px;
  width: 130px; */
  height: 5em;
  width: 5em;
  border: 10px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-1);
  border-color: blueviolet;
  font-weight: var(--fw-500);
}
.skills-showcase > .skills > .title {
  font-size: var(--fs-2);
  text-transform: uppercase;
  font-weight: var(--fw-500);
}
