<div class="profile">
  <div class="sidebar-container">
    <div class="sidebar-info">
      <div class="profile-box">
        <figure class="image">
          <img [src]="profilepath" [alt]="profilealt" />
        </figure>
      </div>
      <div class="info-content">
        <h1 class="name" title=" Jeeban Giri">Jeeban Giri</h1>
        <!-- <div class="resume-button-wrapper"> -->
        <button on class="view-resume-button" (click)="goToResume()">
          <span class="btn-content"> View Resume </span>
          <!-- <i class="fa-solid fa-file-lines"></i> -->
          <ion-icon
            *ngIf="browserService.isBrowser"
            name="eye-outline"
            class="fa-solid"
          ></ion-icon>
        </button>
        <!-- </div> -->
        <p class="title">Full Stack Developer</p>
      </div>
      <button data-sidebar-btn (click)="toggleInfo()">
        <span class="info_more-btn">Show Contacts</span>
      </button>
    </div>
    <div class="contact-more-info" [class.expanded]="isExpanded">
      <!-- <div class="separator" [class.expanded]="isExpanded"></div> -->
      <!-- <div class="contactinfo" [class.expanded]="isExpanded"> -->
      <div class="separator"></div>
      <div class="contactinfo">
        <ul class="contacts-list">
          <li class="contact-item">
            <div class="icon-box">
              <i class="fa-regular fa-envelope icons"></i>
            </div>
            <div class="contact-info">
              <p>Email</p>
              <a href="mailto:jeeban.giri5995@gmail.com" class="contact-link"
                >jeeban.giri5995&#64;gmail.com</a
              >
            </div>
          </li>
          <div class="contact-item">
            <div class="icon-box">
              <i class="fa fa-mobile-alt icons"></i>
            </div>
            <div class="contact-info">
              <p>Phone</p>
              <p>
                <a href="tel:+977-9807099754" class="contact-link"
                  >+977-9807099754</a
                >
              </p>
            </div>
            <!-- <p>+977-9807099754</p> -->
          </div>
          <div class="contact-item">
            <div class="icon-box">
              <i class="fa-regular fa-calendar icons"></i>
            </div>
            <div class="contact-info">
              <p>Birthday</p>
              <time datetime="1982-06-23">22 Nov, 2001</time>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon-box">
              <i class="fas fa-map-marker-alt icons"></i>
            </div>
            <div class="contact-info">
              <p>Location</p>
              <address>Itahari, Nepal</address>
            </div>
          </div>
        </ul>
      </div>
      <!-- <div class="separator" [class.expanded]="isExpanded"></div>
      <div class="social-link" [class.expanded]="isExpanded"> -->
      <div class="separator second-separator"></div>
      <div class="social-link">
        <ul class="social-list">
          <li class="github">
            <a href="https://github.com/JeebanGiri" target="'_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="linkedin">
            <a
              href="https://www.linkedin.com/in/jeeban-giri-1b7a98251/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="https://www.instagram.com/giri_jeeban/" target="_blank"
              ><i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
