*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog-page {
  padding: 30px;
}
.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: #d6bd62;
  border: none;
  border-radius: 2px;
}
.blog-posts {
  margin-bottom: 10px;
}
.blog-post-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.blog-post-item > a {
  position: relative;
  background: var(--border-gradient-onyx);
  height: 100%;
  box-shadow: var(--shadow-4);
  border-radius: 16px;
  z-index: 1;
}
.blog-post-item > a::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--eerie-black-1);
  z-index: -1;
}
