<div class="profile">
  <div class="box">
    <figure class="image">
      <img [src]="profilepath" [alt]="profilealt" />
    </figure>
  </div>
  <div class="info-content">
    <h1 class="name" title=" Jeeban Giri">Jeeban Giri</h1>
    <p class="title">Full Stack Developer</p>
  </div>
  <hr class="line-hr" />
  <div class="contactinfo">
    <div class="email">
      <div class="email-box">
        <div class="icon-box">
          <i class="fa-regular fa-envelope" style="color: #dbc987"></i>
        </div>
      </div>
      <div class="email-content">
        <p>Email</p>
        <p>jeeban.giri5995gmail.com</p>
      </div>
    </div>
    <div class="phone">
      <div class="phone-box">
        <div class="icon-box">
          <i class="fa fa-mobile-alt" style="color: #dbc987"></i>
        </div>
      </div>
      <div class="phone-content">
        <p>Phone</p>
        <p><a href="tel:+977-9807099754">+977-9807099754</a></p>
      </div>
      <!-- <p>+977-9807099754</p> -->
    </div>
    <div class="linkedin">
      <div class="linkedin-box">
        <div class="icon-box">
          <a
            href="https://www.linkedin.com/in/jeeban-giri-1b7a98251/"
            target="_blank"
          >
            <i class="fab fa-linkedin" style="color: #dbc987"></i>
          </a>
        </div>
      </div>
      <div class="linkedin-content">
        <p>Linkedin</p>
        <p>Jeeban Giri</p>
      </div>
    </div>
    <div class="github">
      <div class="github-box">
        <div class="icon-box">
          <a href="https://github.com/JeebanGiri" target="'_blank">
            <i class="fab fa-github" style="color: #dbc987"></i>
          </a>
        </div>
      </div>
      <div class="github-content">
        <p>GitHub</p>
        <!-- <p>https://github.com/JeebanGiri</p> -->
        <p>Jeeban Giri</p>
      </div>
    </div>
    <div class="calender">
      <div class="calender-box">
        <div class="icon-box">
          <i class="fa-regular fa-calendar" style="color: #dbc987"></i>
        </div>
      </div>
      <div class="calender-content">
        <p>Birthday</p>
        <p>Nov 28, 2001</p>
      </div>
    </div>
  </div>
</div>
