* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
.profile {
  display: grid;
  justify-content: center;
  place-items: center;
  padding-top: 50px;
}
.profile .box {
  background-color: #3d3d3d;
  height: 140px;
  width: 150px;
  border-radius: 25px;
  position: relative;
}
.profile .box img {
  height: 140px;
  width: 140px;
  border-radius: 10px;
}
.icon-box .icons {
  color: var(--vegas-gold);
  /* color: #ceb15a; */
}

.box .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-content {
  display: grid;
  gap: 20px;
  padding-top: 20px;
}

.info-content .name {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
}

.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.line-hr {
  border: 0;
  width: 12rem;
  height: 1px;
  margin-top: 20px;
  background-color: #3d3d3d;
}
.contactinfo {
  display: grid;
  padding-top: 15px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.email,
.phone,
.calender,
.address {
  display: flex;
  gap: 20px;
  padding: 20px 0px 0px 20px;
}

.email-content,
.phone-content,
.calender-content,
.address-content {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.email-content .contact-link,
.phone-content .contact-link,
.calender-content time,
.address-content address {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.address-content address {
  font-style: normal;
}

.email .email-content > p:first-child,
.phone .phone-content > p:first-child,
.calender .calender-content > p:first-child,
.address .address-content > p:first-child {
  color: var(--light-gray-70);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 2px;
}

/* .email-box,
.phone-box,
.calender-box,
.address-box {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
} */

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}
.social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: #d6d6d6b3;
  font-size: 18px;
  padding-top: 20px;
}
.social-link:hover {
  color: var(--light-gray);
  color: hsl(0, 0%, 84%);
}
