<div class="profile">
  <div class="box">
    <img src="../../../../public/images/jeeban.jpg" alt="profile" />
  </div>
  <h4>Jeeban Giri</h4>
  <input type="button" name="developer" id="dev" value="Web Developer" />
  <hr class="line-hr" />

  <div class="contactinfo">
    <div class="email">
      <div class="email-box">
        <div class="icon-box"></div>
      </div>
    </div>
    <div class="phone">
      <div class="phone-box">
        <div class="icon-box"></div>
      </div>
    </div>
    <div class="calender">
      <div class="calender-box">
        <div class="icon-box"></div>
      </div>
    </div>
  </div>
</div>
