<div class="profile">
  <div class="box">
    <img src="../../../../public/images/jeeban.jpg" alt="profile" />
  </div>
  <h4>Jeeban Giri</h4>
  <input type="button" name="developer" id="dev" value="Web Developer" />
  <hr class="line-hr" />
  <div class="contactinfo">
    <div class="email">
      <div class="email-box">
        <div class="icon-box"></div>
      </div>
      <div class="email-content">
        <p>Email</p>
        <p>jeebangmaifsakdfal.com</p>
      </div>
    </div>
    <div class="phone">
      <div class="phone-box">
        <div class="icon-box"></div>
      </div>
      <p>Phone</p>
      <p>+977-9807099754</p>
    </div>
    <div class="calender">
      <div class="calender-box">
        <div class="icon-box"></div>
      </div>
      <p>Birthday</p>
      <p>Nov 28, 2001</p>
    </div>
  </div>
</div>
