<div class="resume-page">
  <header class="top-content">
    <div class="title">
      <p>Experience & Education</p>
    </div>
  </header>
  <div class="exprience">
    <div class="exprience-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Experience</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Web Developer</p>
          <span class="progress__info">2024 &mdash; present</span>
          <!-- <p class="description">
            Responsible for designing and developing user-centric websites. I
            ensure each project is functional, user-friendly, and visually
            appealing.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Internship at Lancemeup Pvt. Ltd</p>
          <span class="progress__info">July 10 &mdash; Nov 01</span>
          <!-- <p class="description">
            Worked on web application projects, focusing on Backend Development
            and performance optimization. Gained practical industry experience.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">
            Internship at Itahari International College
          </p>
          <span class="progress__info">June 15 &mdash; Oct 20</span>
          <!-- <p class="description">
            Work and made strong foundation on Networking, enhancing teamwork
            and time management skills in a professional setting.
          </p> -->
        </div>
      </li>
    </ul>
  </div>
  <div class="education">
    <div class="book-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Education</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Itahari International College</p>
          <span class="progress__info">2021 &mdash; 2023</span>
          <!-- <p class="description">
            Studied advanced web development Courses, focusing on creating
            responsive and maintainable application. Completed a capstone
            project on hotel reservation application development.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Sukuna Secondary School</p>
          <span class="progress__info">2019 &mdash; 2021</span>
          <!-- <p class="description">
            Built a foundation in computer science and mathematics, participated
            in coding competitions, and developed problem-solving skills.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <p class="progress__title">Kaseni Model English School</p>
          <span class="progress__info">WithIn 2019</span>
          <!-- <p class="description">
            Within my School time period, I studied and explore in various
            subjects. I made a strong foundation in mathematics and developed a
            problems solving skills.
          </p> -->
        </div>
      </li>
    </ul>
  </div>
</div>
