<div class="resume-page">
  <header class="top-content">
    <div class="title">
      <p>Experience & Education</p>
    </div>
  </header>
  <div class="exprience">
    <div class="exprience-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Experience</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item experience-item">
        <div class="content">
          <span class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; Web Developer</p>
          </span>
          <span class="duration">2024 &mdash; present / Itahari, Nepal</span>
        </div>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Responsible for designing and developing user-centric websites. I
          ensure each project is functional, user-friendly, and visually
          appealing.
        </p>
      </li>
      <li class="progress__item experience-item">
        <div class="content">
          <span class="exp-info">
            <h5 class="institute-name">Lancemeup Pvt. Ltd.</h5>
            <p class="progress__title">&mdash; Internship</p>
          </span>
          <span class="duration"
            >July 10, 2023 &mdash; Nov 01, 2023 / Dhobighat, Lalitpur</span
          >
        </div>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Worked on web application projects, focusing on Backend Development
          and performance optimization. Gained practical industry experience.
        </p>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Develped referral campaign applicaton using Nest.js framework.
        </p>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Develped Resturant Management System API
        </p>
      </li>
      <li class="progress__item experience-item">
        <div class="content">
          <span class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; Internship</p>
          </span>
          <span class="duration"
            >June 16, 2022 &mdash; Nov 14, 2022 / Itahari, Nepal</span
          >
        </div>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Worked and made strong foundation on Networking, enhancing teamwork
          and time management skills in a professional setting.
        </p>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Worked on Networking layer &mdash; Especially on layer 1 and layer 2.
        </p>
      </li>
    </ul>
  </div>
  <div class="education">
    <div class="book-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Education</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item education-item">
        <div class="content">
          <span class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; BSc Computing (BIT)</p>
          </span>
          <span class="duration">2021 &mdash; 2023 / Indrapur, Morang</span>
        </div>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Studied core IT subjects including software development, database
          systems, and networks and AI.
        </p>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Successfully completed a capstone project: a hotel reservation web
          application featuring room availability tracking, secure user
          authentication, booking management, and real-time feedback. Focused on
          maintainability and user experience.
        </p>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Developed both static and dynamic web applications as part of academic
          assessments, showcasing skills in HTML, CSS, JavaScript, and backend
          integration.
        </p>
      </li>

      <li class="mini__progress__item">
        <p class="progress-description">
          Got 'AAA' Scholarship based on Academic, Attendence, and Attribute.
        </p>
      </li>
      <li class="progress__item education-item">
        <div class="content">
          <span class="edu-info">
            <h5 class="institute-name">Sukuna Secondary School</h5>
            <p class="progress__title">&mdash; Computer Science</p>
          </span>
          <span class="duration">2019 &mdash; 2021 /Belbari, Morang</span>
        </div>
      </li>
      <li class="mini__progress__item">
        <p class="progress-description">
          Built a foundation in computer science and mathematics, participated
          in coding competitions, and developed problem-solving skills.
        </p>
      </li>
    </ul>
  </div>
  <div class="resume-button-wrapper">
    <button on class="view-resume-button" (click)="goToResume()">
      <span class="btn-content"> View Resume </span>
      <ion-icon
        *ngIf="browserService.isBrowser"
        name="document-outline"
        class="view-resume"
      ></ion-icon>
    </button>
    <button class="download-resume-button" (click)="downloadResume()">
      <span class="btn-content"> Download Cv </span>
      <i class="fa-solid fa-download"></i>
    </button>
  </div>
</div>
