<div class="resume-page">
  <header class="top-content">
    <div class="title">
      <p>Experience & Education</p>
    </div>
  </header>
  <div class="exprience">
    <div class="exprience-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Experience</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <div class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; Web Developer</p>
          </div>
          <span class="progress__info">2024 &mdash; present</span>
          <!-- <p class="description">
            Responsible for designing and developing user-centric websites. I
            ensure each project is functional, user-friendly, and visually
            appealing.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <div class="exp-info">
            <h5 class="institute-name">Lancemeup Pvt. Ltd.</h5>
            <p class="progress__title">&mdash; Internship</p>
          </div>
          <span class="progress__info">July 10 &mdash; Nov 01</span>
          <!-- <p class="description">
            Worked on web application projects, focusing on Backend Development
            and performance optimization. Gained practical industry experience.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <div class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; Internship</p>
          </div>
          <span class="progress__info">June 15 &mdash; Oct 20</span>
          <!-- <p class="description">
            Work and made strong foundation on Networking, enhancing teamwork
            and time management skills in a professional setting.
          </p> -->
        </div>
      </li>
    </ul>
  </div>
  <div class="education">
    <div class="book-box">
      <img [src]="bookpath" [alt]="bookalt" />
    </div>
    <h3>Education</h3>
  </div>
  <div class="progress-bar">
    <ul class="progress">
      <li class="progress__item">
        <div class="content">
          <div class="exp-info">
            <h5 class="institute-name">Itahari International College</h5>
            <p class="progress__title">&mdash; BSc Computing (BIT)</p>
          </div>
          <span class="progress__info">2021 &mdash; 2023</span>
          <!-- <p class="description">
            Studied advanced web development Courses, focusing on creating
            responsive and maintainable application. Completed a capstone
            project on hotel reservation application development.
          </p> -->
        </div>
      </li>
      <li class="progress__item">
        <div class="content">
          <div class="edu-info">
            <h5 class="institute-name">Sukuna Secondary School</h5>
            <p class="progress__title">&mdash; Computer Science</p>
          </div>
          <span class="progress__info">2019 &mdash; 2021</span>
          <!-- <p class="description">
            Built a foundation in computer science and mathematics, participated
            in coding competitions, and developed problem-solving skills.
          </p> -->
        </div>
      </li>
      <!-- <li class="progress__item">
        <div class="content">
          <div class="edu-info">
            <p class="progress__title">Kaseni Model English School</p>
            <p class="progress__title">&mdash;</p>
          </div>
          <span class="progress__info">WithIn 2019</span>
          <p class="description">
            Within my School time period, I studied and explore in various
            subjects. I made a strong foundation in mathematics and developed a
            problems solving skills.
          </p>
        </div>
      </li> -->
    </ul>
    <div class="experience">
      <div class="timeline-header">
        <span class="duration">APR 2021 - JUN 2021 / KATHMANDU, NEPAL</span>
        <h3>
          <strong>LEAPFROG TECHNOLOGY NEPAL PVT. LTD.</strong> — SOFTWARE
          ENGINEERING INTERN
        </h3>
      </div>

      <div class="timeline">
        <div class="timeline-item">
          <span class="dot"></span>
          <p>Pixel perfect design of web pages using HTML and CSS.</p>
        </div>
        <div class="timeline-item">
          <span class="dot"></span>
          <p>
            Developed Image Slider, Box Collision, Ant Smasher, Car Lane using
            DOM & canvas in plain javascript.
          </p>
        </div>
        <div class="timeline-item">
          <span class="dot"></span>
          <p>Developed a flappy bird game using ES6 javascript.</p>
        </div>
        <div class="timeline-item">
          <span class="dot"></span>
          <p>Developed a resume builder using plain javascript.</p>
        </div>
      </div>
    </div>
  </div>
</div>
