*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio-page {
  padding: 30px;
  margin-bottom: 50px;
}

.portfolio-page > .title {
  padding-top: 5px;
}

.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: hsl(41, 96%, 70%);
  border-radius: 2px;
  border: none;
}

.content {
  padding-top: 20px;
}

.content ul {
  display: flex;
  gap: 1.2rem;
}

.content ul li {
  font-size: 15px;
  cursor: pointer;
}

ul li.active {
  color: var(--orange-yellow-crayola);
  animation: scaleUp 0.25s ease forwards;
}

/* === Project Grid === */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

/* === Project Card === */
.project-box {
  flex: 1 1 250px;
  max-width: 300px;
  background: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-box a {
  width: 100%;
}

.project-title,
.project-category {
  margin-left: 10px;
}

.project-title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

/* === Image Styles === */
.project-img {
  position: relative;
  border-radius: 16px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-box > a:hover img {
  transform: scale(1.2);
}

.project-box > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  --scale: 0.8;
  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 13px 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-box > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box ion-icon {
  --ionicon-stroke-width: 50px;
}

.coming-soon-message {
  text-align: center;
  font-size: 1.2rem;
  color: #0077cc;
  margin: 10rem auto;
  font-weight: 500;
}

/* === Animation === */
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* === Responsive === */

@media (max-width: 640px) {
  .project-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 580px) and (max-width: 767px) {
  .project-grid {
    gap: 10px;
  }

  .project-img {
    border-radius: 30px;
  }
}
@media (max-width: 580px) {
  .content ul .project-item {
    font-size: var(--fs-8);
  }
  .title {
    font-size: var(--fs-6);
  }
}
