<div class="portfolio-page">
  <div class="title">
    <h2>Portfolio</h2>
    <hr class="line" />
  </div>
  <div class="content">
    <ul>
      <li
        class="project-item"
        (click)="selectItem('all')"
        [class.active]="selectedItem === 'all'"
      >
        All
      </li>
      <li
        class="project-item"
        (click)="selectItem('web-design')"
        [class.active]="selectedItem === 'web-design'"
      >
        Web Design
      </li>
      <li
        class="project-item"
        (click)="selectItem('application')"
        [class.active]="selectedItem === 'application'"
      >
        Application
      </li>
      <li
        class="project-item"
        (click)="selectItem('web-development')"
        [class.active]="selectedItem === 'web-development'"
      >
        Web Development
      </li>
    </ul>
  </div>
  <ng-container *ngIf="getActiveProjects() as projects">
    <div
      class="project-grid"
      [ngClass]="{ 'few-projects': projects.length <= 2 }"
    >
      <div class="project-box" *ngFor="let project of projects">
        <a href="#" (click)="$event.preventDefault()">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon
                *ngIf="browserService.isBrowser"
                name="eye-outline"
              ></ion-icon>
            </div>
            <img [src]="project.image" alt="{{ project.title }}" />
          </figure>
          <h4 class="project-title">{{ project.title }}</h4>
          <p class="project-category">{{ project.description }}</p>
        </a>
      </div>
    </div>
  </ng-container>
</div>
