<div class="blog-page">
  <div class="title">
    <h2>Blog</h2>
    <hr class="line" />
  </div>
  <section class="blog-posts">
    <ul class="blog-post-list">
      <li class="blog-post-item" *ngFor="let blog of blogs">
        <a
          href="#"
          (click)="openLink($event, blog.blogLink)"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure class="blog-banner-box">
            <img [src]="blog.image" alt="{{ blog.title }}" />
          </figure>
          <div class="blog-content">
            <div class="blog-meta">
              <p class="blog-category">{{ blog.blog_category }}</p>
              <span class="dot"></span>
              <time datetime="2024-07-23">{{ blog.date }}</time>
            </div>
            <h3 class="h3 blog-item-title">{{ blog.title }}</h3>
            <p class="blog-text">
              {{ blog.description }}
            </p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
