* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  /* height: 100%; */
  min-height: 100dvh;
  /* background-color: #111111; */
}

.content {
  display: flex;
  justify-content: center;
  padding: 4rem 0px;
  /* width: 100%; */
  /* max-width: 80%; */
  /* 100% equals to 800px */
  gap: 25px;
  align-items: flex-start;
  align-items: center;
  /* 80% equals to 640px */
}

.profileside {
  position: sticky;
  top: 60px;
  /* overflow: visible;   change here */
  z-index: 1;
  background-color: #1e1e1e;
  width: 17rem;
  /* min-height: 75h; */
  color: white;
  border-radius: 20px;
  align-self: flex-start;
  padding-bottom: 20px;
}

.infoside {
  background-color: #1c1c1c;
  color: white;
  min-height: 80svh;
  width: 48%;
  border-radius: 20px;
  align-self: flex-start;
}

@media (min-width: 1240px) and (max-width: 1250px) {
  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 25px;
  }

  .content {
    display: grid;
    place-items: center;
  }

  .profileside {
    min-width: 75%;
    width: 75%;
    z-index: 1;
    position: relative;
    top: 0px;
    box-shadow: var(--shadow-5);
  }

  .infoside {
    min-width: 75%;
    width: 75%;
    margin: 0;
    z-index: 1;
  }
}
