.navbar {
  backdrop-filter: blur(10px);
}
.nav-list {
  background-color: #282828;
  width: 35rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0vw;
  border-top-right-radius: 20px;
  float: right;
}

nav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 30px;
}
nav ul li {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.05rem;
}
nav ul li a:hover {
  color: #cccc87;
}
.navbar ul li a.active {
  color: #d6bd62;
  font-weight: 500;
}

nav ul li a:active {
  color: #cccc87;
}

nav li a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    display: flex;
    width: 100%;
    z-index: 10;
    margin: 0px;
    padding: 0px;
  }

  .nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
  }
  .nav-list ul {
    display: flex;
    gap: 40px;
    margin-right: 30px;
    margin-left: 30px;
  }
  nav li a {
    font-size: var(--fs-4);
  }
}
/* @media (min-width: 580px) and (max-width: 767px) { */
@media (max-width: 767px) {
  .navbar {
    display: flex;
    width: 100%;
    z-index: 10;
    margin: 0px;
    padding: 0px;
  }

  .nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
  }
  .nav-list ul {
    display: flex;
    gap: 40px;
    margin-right: 30px;
    margin-left: 30px;
  }
  nav li a {
    font-size: var(--fs-4);
  }
}
