<div class="navbar">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/about"
          routerActiveLink="active"
          routerCurrentWhenActive="page"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="/resume"
          routerActiveLink="active"
          routerCurrentWhenActive="page"
          >Resume</a
        >
      </li>
      <li>
        <a
          routerLink="/portfolio"
          routerActiveLink="active"
          routerCurrentWhenActive="page"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          routerLink="/blog"
          routerActiveLink="active"
          routerCurrentWhenActive="page"
          >Blog</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerActiveLink="active"
          routerCurrentWhenActive="page"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
