<div class="portfolio-page">
  <div class="title">
    <h2>Portfolio</h2>
    <hr class="line" />
  </div>
  <div class="content">
    <ul>
      <li
        class="project-item"
        (click)="selectItem('ai')"
        [class.active]="selectedItem === 'ai'"
      >
        All
      </li>
      <li
        class="project-item"
        (click)="selectItem('web-design')"
        [class.active]="selectedItem === 'web-design'"
      >
        Web Design
      </li>
      <li
        class="project-item"
        (click)="selectItem('application')"
        [class.active]="selectedItem === 'application'"
      >
        Application
      </li>
      <li
        class="project-item"
        (click)="selectItem('web-development')"
        [class.active]="selectedItem === 'web-development'"
      >
        Web Development
      </li>
    </ul>
  </div>
  <div *ngIf="selectedItem === 'ai'">
    <div class="ai-projects">
      <div
        class="project-box"
        *ngFor="let project of aiProject"
        [ngClass]="{ active: selectedItem === 'ai' }"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye"></ion-icon>
            </div>
            <img [src]="project.image" alt="{{ project.title }}" />
          </figure>
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="selectedItem === 'web-design'">
    <div class="web-projects">
      <div
        class="project-box"
        *ngFor="let project of aiProject"
        [ngClass]="{ active: selectedItem === 'web-design' }"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye"></ion-icon>
            </div>
            <img [src]="project.image" alt="{{ project.title }}" />
          </figure>
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="selectedItem === 'application'">
    <div class="application-projects">
      <div
        class="project-box"
        *ngFor="let project of aiProject"
        [ngClass]="{ active: selectedItem === 'application' }"
      >
        <img [src]="project.image" alt="{{ project.title }}" />
        <h4>{{ project.title }}</h4>
        <p>{{ project.description }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="selectedItem === 'web-development'">
    <div class="dev-projects">
      <div
        class="project-box"
        *ngFor="let project of aiProject"
        [ngClass]="{ active: selectedItem === 'web-development' }"
      >
        <img [src]="project.image" alt="{{ project.title }}" />
        <h4>{{ project.title }}</h4>
        <p>{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
