*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio-page {
  padding: 25px;
}
.portfolio-page > .title {
  padding-top: 10px;
}
.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: #d6bd62;
  border: none;
  border-radius: 2px;
}
.content {
  padding-top: 20px;
}
.content ul {
  display: flex;
  gap: 1.2rem;
}
.content ul li {
  font-size: 15px;
}
ul li.active {
  color: #d6bd62; /* Adjust the color as needed */
}

.ai-projects,
.web-projects,
.application-projects,
.dev-projects {
  display: flex;
  gap: 25px;
}
.project-box {
  padding-top: 20px;
  display: grid;
}
.project-box img {
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

.project-box > h4 {
  padding: 10px 0 0 8px;
}
.project-box > p {
  padding-left: 8px;
}
