<div class="resume-page">
  <div class="title">
    <h2>Resume</h2>
    <hr class="line" />
  </div>
  <!-- <div class="page-content">
    <header>
      <div class="personal-info"></div>
      <div class="profile-photo"></div>
    </header>
    <div class="about-me"></div>
  </div> -->

  <div class="resume-container">
    <header class="resume-header">
      <div class="info-block">
        <h1>Jeeban Giri</h1>
        <h2>Software Developer</h2>
        <p>Building robust and scalable software solutions.</p>
        <!-- <button class="download-btn">📄 Download CV</button> -->
        <div class="resume-button-wrapper">
          <button class="download-button" (click)="downloadResume()">
            <i class="fa-solid fa-download"></i>
            <span class="btn-content"> Download Cv </span>
          </button>
          <button class="contact-button" (click)="goToResume()">
            <i class="fa-regular fa-envelope"></i>
            <span class="btn-content"> Contact </span>
          </button>
        </div>
      </div>
      <div class="profile-block">
        <img [src]="profilepath" [alt]="profilealt" />
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </header>

    <div class="profile-desc-wrapper">
      <section class="info-section">
        <h3>
          <i class="fa-solid fa-address-card"></i>
          About Me
        </h3>
        <ul>
          <li>
            Experienced software developer with a background in creating
            efficient and scalable applications
          </li>
          <li>Strong problem-solving skills and passion for coding</li>
          <li>
            Committed to staying updated with industry trends and best products
          </li>
        </ul>
      </section>

      <section class="contact-section">
        <ul>
          <li>
            <!-- <span class="icons">
              <ion-icon
                name="location-outline"
                *ngIf="browserService.isBrowser"
              ></ion-icon>
            </span> -->
            <span class="icons">
              <i class="fas fa-location-dot"></i>
            </span>
            <div class="infos">
              <strong>Location</strong>
              <p>Itahari, Nepal</p>
            </div>
          </li>
          <li>
            <span class="icons">
              <i class="fa-solid fa-briefcase"></i>
            </span>
            <div class="infos">
              <strong>Experience</strong>
              <p>2+ years</p>
            </div>
          </li>
          <li>
            <span class="icons">
              <!-- <ion-icon
                name="language-outline"
                *ngIf="browserService.isBrowser"
              ></ion-icon> -->
              <i class="fa-solid fa-language"></i>
            </span>
            <div class="infos">
              <strong>Language</strong>
              <p>English, Nepali, Hindi</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <main class="resume-content-wrapper">
      <div class="social-items-lang-skill">
        <section class="social-profile">
          <ul class="social-icon-list">
            <li>
              <span>
                <i class="fa-brands fa-github"></i>
              </span>
              <a href="#">
                <p>JeebanGiri</p>
              </a>
            </li>
            <li>
              <span>
                <i class="fa-brands fa-square-facebook"></i>
              </span>
              <a href="#">
                <p>jeeban.giri.058</p>
              </a>
            </li>
            <li>
              <span>
                <i class="fa-brands fa-square-x-twitter"></i>
              </span>
              <a href="#">
                <p>jeebang_01</p>
              </a>
            </li>
            <li>
              <span><i class="fa-solid fa-globe"></i></span>
              <a href="#">
                <p>jeebangiri.com.np</p>
              </a>
            </li>
            <li>
              <span><i class="fa-solid fa-phone"></i></span>
              <a href="#">
                <p>+977-9807099754</p>
              </a>
            </li>
            <li>
              <span>
                <i class="fas fa-location-arrow"></i>
              </span>

              <a href="#">
                <p>Biratchwok, Morang, Nepal</p>
              </a>
            </li>
            <li>
              <span><i class="fa-solid fa-envelope"></i></span>
              <a href="#">
                <p>jeeban.giri5995&#64;gmail.com</p>
              </a>
            </li>
          </ul>
        </section>

        <section class="language-tech-section">
          <div class="lang-tech-header">
            <h2>Languages And Technologies</h2>
            <i class="fa-solid fa-code"></i>
          </div>
          <div class="tech">
            <ul>
              <li>
                <strong>Programming Language</strong>
                <p>JavaScript, TypeScript, Java, C, C#,</p>
              </li>
            </ul>
          </div>
          <div class="tech">
            <ul>
              <li>
                <strong>MISCELLANEOUS</strong>
                <p>Git, Rest, GraphQL, Jira, Scrum/Agile</p>
              </li>
            </ul>
          </div>
          <div class="tech">
            <ul>
              <li>
                <strong>Frameworks and tools</strong>
                <p>
                  Express.js, Node.js, NestJs, ReactJs, Redux, Bootstrap, HTML,
                  CSS, Github, Visual Studio, Linux, Photoshop,
                </p>
              </li>
            </ul>
          </div>
          <div class="tech">
            <ul>
              <li>
                <strong>Cloud Platform & Technologies</strong>
                <p>
                  AWS, CI/CD, Machine Learning, Scrum/Agile, MYSQL, PostgreSQL,
                  Oracle, MongoDB
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section class="skill-section">
          <div class="soft-skills-header">
            <h2>Soft Skills</h2>
            <i class="fa-solid fa-brain"></i>
          </div>
          <div class="skills">
            <ul>
              <li class="communication-skill">
                <p class="skill-label">
                  Communication
                  <span class="skill-percentage">90%</span>
                </p>
                <div class="percentage-line"></div>
              </li>
              <li class="leadership-skill">
                <p class="skill-label">
                  Leadership
                  <span class="skill-percentage">85%</span>
                </p>
                <div class="percentage-line"></div>
              </li>
              <li class="decision-making-skill">
                <p class="skill-label">
                  Decision Making
                  <span class="skill-percentage">80%</span>
                </p>
                <div class="percentage-line"></div>
              </li>
              <li class="problem-solving-skill">
                <p class="skill-label">
                  Problem-solving
                  <span class="skill-percentage">80%</span>
                </p>
                <div class="percentage-line"></div>
              </li>
            </ul>
          </div>
        </section>
        <section class="interest-section">
          <div class="interest-header">
            <h2>Interests</h2>
            <i class="fa-solid fa-brain"></i>
          </div>
          <div class="interests">
            <!-- <span>Web Application Development</span> -->
            <!-- <span>Mobile App Development</span> -->
            <!-- <span>Artificial Intelligence</span> -->
            <span>Block Chain Technology</span>
            <span>IOT</span>
            <span>Machine Learning</span>
            <span>DevOps</span>
            <!-- <span>Networking</span> -->
            <span>Data Analyst</span>
            <!-- <p>
              Web Application Development, IOT, Mobile App Development,
              Artificial Intelligence,Machine Learning,DevOps,Block Chain
              Technology, Networking, Networking, Data Analyst
            </p> -->
          </div>
        </section>
      </div>

      <div class="experience-edu-hobby-section">
        <section class="exp-section">
          <div class="exp-header">
            <h2>Experience</h2>
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <div class="job">
            <h4>
              Itahari Internation College
              <span class="role">&mdash;Full-Stack Developer</span>
            </h4>
            <p class="date">Apr 2021 – Present / Sundar-Dulari, Morang Nepal</p>
            <ul>
              <li>
                <p class="job-desc">
                  Developing and maintaining backend services and APIs for
                  various web applications
                </p>
              </li>
            </ul>
          </div>
          <div class="job">
            <h4>
              Lancemeup Pvt. Ltd.
              <span class="role">&mdash; Backend Developer</span>
            </h4>
            <p class="date">
              July 10, 2023 &mdash; Nov 01, 2023 / Dhobighat, Lalitpur
            </p>
            <ul>
              <li>
                <p class="job-desc">
                  Developing and maintaining backend services and APIs for
                  various web applications
                </p>
              </li>
            </ul>
          </div>
          <div class="job">
            <h4>
              Itahari Internation College
              <span class="role">&mdash; IT Intern</span>
            </h4>
            <p class="date">
              June 16, 2022 &mdash; Nov 14, 2022 / Sundar-Dulari, Morang, Nepal
            </p>
            <ul>
              <li>
                <p class="job-desc">
                  Developing and maintaining backend services and APIs for
                  various web applications
                </p>
              </li>
            </ul>
          </div>
        </section>

        <section class="edu-section">
          <div class="edu-header">
            <h2>Education</h2>
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <div class="education">
            <h4>
              Itahari Internation College
              <span class="course">&mdash; Bsc (Hons) Computing</span>
            </h4>
            <p class="date">
              June 16, 2022 &mdash; Nov 14, 2022 / Sundar-Dulari, Morang, Nepal
            </p>
            <ul>
              <li class="job-desc">
                Developing and maintaining backend services and APIs for various
                web applications
              </li>
            </ul>
          </div>
          <div class="education">
            <h4>
              Sukuna Seconday School
              <span class="course">&mdash;Computer Science</span>
            </h4>
            <p class="date">
              June 16, 2022 &mdash; Nov 14, 2022 / Sundar-Dulari, Morang, Nepal
            </p>
            <ul>
              <li class="job-desc">
                Developing and maintaining backend services and APIs for various
                web applications
              </li>
            </ul>
          </div>
        </section>
        <div class="hobby-section">
          <div class="hobby-header">
            <h2>My Hobbyverse</h2>
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="hobby">
            <ul class="hobby-list">
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-laptop-code"></i>
                </div>
                <span>Coding</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-book-open"></i>
                </div>
                <span>Reading</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-paper-plane"></i>
                </div>
                <span>Travel</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-music"></i>
                </div>
                <span>Music</span>
              </li>

              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-futbol"></i>
                </div>
                <span>Golf</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-camera-retro"></i>
                </div>
                <span>Photography</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="bi bi-controller"></i>
                </div>
                <span>Gaming</span>
              </li>
              <li>
                <div class="hobby-icon">
                  <i class="fa-solid fa-clapperboard"></i>
                </div>
                <span>Movies</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <div class="timeline">
      <div class="timeline-item" *ngFor="let event of timelineData">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>{{ event.title }}</h3>
          <span>{{ event.date }}</span>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
