*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resume-page {
  padding: 30px;
}
.resume-page > .title {
  padding-top: 5px;
}
.title .line {
  margin-top: 15px;
  width: 30px;
  height: 5px;
  background-color: hsl(41, 96%, 70%);
  border: none;
  border-radius: 2px;
}

.resume-container {
  width: 100%;
  /* background: #101c35; */
  background: #202020;

  border-radius: 12px;
  /* padding: 40px 20px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  font-family: "Inter", sans-serif;
  color: #e0e6f1;
  margin: 20px 0;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* background-color: #0e1629; */
  /* background-color: #f5a512; */
  /* background: #202020; */
  color: white;
  padding: 10px 20px;
}
.contact-location,
.section {
  padding: 0px 20px;
}

.info-block h1 {
  font-size: 2rem;
  /* color: #6daeff; */
}

.info-block h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 8px 0;
  /* color: #aab8d1; */
}

.download-btn {
  margin-top: 40px;
  padding: 15px 20px;
  border: none;
  /* background: #1a6fff; */
  /* background-color: #0e1629; */
  /* background-color: #f5a512; */
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
.profile-block {
  display: grid;
  place-items: center;
}

.profile-block img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.section {
  margin-top: 30px;
}

.section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #6daeff;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 8px;
}

.contact-location {
  margin-top: 20px;
  font-size: 0.95rem;
  color: #b0c4de;
  line-height: 1.5;
}

.skills span {
  display: inline-block;
  background: #22395e;
  color: #bfe1ff;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 4px 8px 4px 0;
  font-size: 0.9rem;
}

.job {
  margin-top: 10px;
}

.job h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #d0e3ff;
}

.job .role {
  font-weight: 600;
  color: #7cb4ff;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .resume-page {
    padding-right: 20px;
  }
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 30px;
  border-left: 2px solid #6daeff;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background-color: #6daeff;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  top: 5px;
}

.timeline-content {
  background-color: #182c4f;
  padding: 15px;
  border-radius: 6px;
  color: #dce7ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
